{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper" style="max-width: 600px; margin: 180px auto 181px; text-align: center;">

    <h1>Change Logomark</h1>
    <p>Para começar, envie a logomarca <a href="{{ path('logo') }}">clicando aqui</a></p>

</div>
{% endblock %}
